body {
  background-color: rgb(248, 248, 227);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

aside {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  display: flex;
}

#menu-opener {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
  padding: 20px;
}

#menu-area {
  width: 0;
  height: 100vh;
  background-color: rgb(247, 206, 213);
  overflow-x: hidden;
  overflow-y: auto;
  transition: all ease 0.5s;

  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#menu-area ul,
#menu-area li {
  padding: 0;
  list-style: none;
}

#menu-area li:hover {
  background-color: #ddd;
}

.menu-opened {
  width: 200px  !important;
}
